<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="SmartInsight\SmartInsightAI\Api\SetupInterface" type="SmartInsight\SmartInsightAI\Model\Setup"/>
    <preference for="SmartInsight\SmartInsightAI\Api\ReportInterface" type="SmartInsight\SmartInsightAI\Model\Report"/>
</config>